{% extends 'base.html' %}
{% load static %}
{% block links %} 
<link rel="stylesheet" href="{% static 'css/personal_account.css'%}">
{% endblock links %}
{% block content %}
<header class="header">
    <div class="header_wrap container">
        <div class="header_top">
            <div class="logo">
                <a href="{% url 'mainapp:main_page' %}"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
            </div>
            <nav class="menu">
                <ul class="menu_list">
                    <li class="menu_list-item"><a href="{% url 'mainapp:main_page' %}" class="menu_list-link">Главная</a></li>
                    <li class="menu_list-item"><a href="{% url 'mainapp:excursions_page' %}" class="menu_list-link">Экскурсии</a></li>
                    {% if user.is_authenticated %}
                        <li class="menu_list-item"><a href="{% url 'mainapp:personal_account_page' %}" class="menu_list-link">Личный кабинет</a></li>
                        <li class="menu_list-item"><a href="{% url 'authapp:logout' %}" class="menu_list-link">Выйти</a></li>
                    {% else %}
                        <li class="menu_list-item"><a href="{% url 'authapp:login' %}" class="menu_list-link">Личный кабинет</a></li>
                    {% endif %} 
                </ul>
            </nav>
        </div>
        <div class="main">
            <div class="main_header">
                Личный кабинет
            </div>
        </div>
    </div>
</header>
<section class="main container">
        <nav class="tabs">
            <ul class="tab_list">
                <li class="tab active"><a href="#" class="tab-link">Профиль</a></li>
                <li class="tab"><a href="#" class="tab-link">Избранное</a></li>
                <li class="tab"><a href="#" class="tab-link">Мои бронирования</a></li>
            </ul>
        </nav>
        <div class="main_content">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="login_btn" type="submit">Сохранить</button>
            </form>
            <a href="{% url 'mainapp:personal_account_page' %}">Отмена</a>
        </div>
</section>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}