{% extends 'mainapp/personal_account_base.html' %}
{% load static %}
{% block links %} 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="{% static 'css/personal_account_base.css'%}">
<link rel="stylesheet" href="{% static 'css/favorites.css'%}">
{% endblock links %}

{% block tab_list %}
    <li class="tab"><a href="{% url 'mainapp:personal_account_page' %}" class="tab-link">Профиль</a></li>
    <li class="tab active"><a href="#" class="tab-link">Избранное</a></li>
    <li class="tab"><a href="#" class="tab-link">Мои бронирования</a></li>
{% endblock tab_list %}

{% block main_content %}
<div class="cards">
    {% for tour in favorite_tours %}
    <div class="card">
        <div class="tour-img">
            <img src="{% static '/img/our_tours-card_img.png' %}" alt="card_img">
        </div>
        <div class="tour_card-inner">
            <h4 class="name">
                <p class="type">
                {{tour.type}}
                </p>
                {{tour.name}}
            </h4>
            <div class="tour-info">
                <div class="price-adult_ticket">
                    {{tour.adult_ticket}} ₽
                    <p>Взрослый билет</p>
                </div>
                <div class="price-child_ticket">
                    {{tour.child_ticket}} ₽
                    <p>Детский билет</p>
                </div>
                <div class="duration">
                    {{tour.duration}} часа
                </div>
            </div>
            <div class="description">
                {{tour.description}}
                {{tour.id}}
            </div>
            <div class="tour_bottons">
                <a href="#" class="tour_more">Подробнее</a>
                <div class="favorites_btns">
                    <input id="add_to_favorites" type="checkbox">
                    </input>
                    <label class="add_to_favorites_label label_checked" for="add_to_favorites" data-tour_id = '{{tour.id}}'></label>
                </div> 
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock main_content %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/favorites.js' %}"></script>
{% endblock scripts %}

