/*=========================  header  ================================================*/

.header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../img/excursions-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 289px;
    .header_wrap {
        .header_top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo {
            }
            .menu {
                .menu_list {
                    font-family: "Montserrat-Medium";
                    font-size: 14px;
                    display: flex;
                    gap: 20px;
                    color: #fff;
                }
            }
        }
        .main {
            margin-top: 60px;
            .main_header {
                font-size: 72px;
                font-family: "Montserrat-Bold";
                color: #fff;
            }
        }
    }
}

/*=========================  Адаптив  ================================================*/

@media screen and (min-width: 1921px) {
}

@media screen and (min-width: 1601px) and (max-width: 1920px) {
}

@media screen and (min-width: 1280px) and (max-width: 1600px) {
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        .header_wrap {
            .main {
                .main_header {
                    font-size: 48px;
                }
            }
        }
    }

}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .header {
        .header_wrap {
            .main {
                .main_header {
                    font-size: 48px;
                }
            }
        }
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    .header {
        .header_wrap {
            .header_top {
                .menu {
                    text-align: right;
                    .menu_list {
                        flex-direction: column;
                        gap: 0;
                    }
                }
            }
            .main {
                .main_header {
                    font-size: 36px;
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .header {
        .header_wrap {
            .header_top {
                .menu {
                    text-align: right;
                    .menu_list {
                        flex-direction: column;
                        gap: 0;
                    }
                }
            }
            .main {
                .main_header {
                    font-size: 36px;
                }
            }
        }
    }
}
